@model drugstore_003.Models.Ventas

<h2>Create</h2>

<!--
<table>
    <tr>
        <th>id</th>
        <th>nombre</th>
    </tr>
    {
        <tr>
            <td></td>
        </tr>
    }

</table>

-->

<ul>
    @foreach (var student in ViewBag.Student)
    { 
    <li><: student></li>
    }
</ul>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
