@using drugstore_003.Models
@model List<LineaCompraCLS>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<table class="table">
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio de Compra</th>
        <th>Subtotal</th>
    </tr>

    @foreach (var detalle in ViewBag.ListaDetalle)
    {
        <tr>
            <td>@detalle.idProducto</td>
            <td>@detalle.cantidad</td>
            <td>@detalle.precio</td>
            <td>@detalle.subtotal</td>
        </tr>
    }
</table>


